{{header}}
<div class='container'>
    {% for product in products %}
        <div>
            <div>{{product.product_id}}</div>
            <img src = {{product.image}} />
        </div>
    
    {% endfor %}
</div>
{{cart}}
{{footer}}