{{header}} {{column_left}}
<div class='container'>
    <div class="pull-right">
        <div class='container-fluid'>
        {# <form action="{{get}}">
            <input class="btn btn-primary" type="submit" title="Get XML Products" />
        </form> #}
        <button class="btn btn-primary" type="submit" formaction="{{get}}" title="Get XML Products">Get XML Products</button>
        <a class="btn btn-primary" href="{{get}}">Get XML Products</a>
        <a class="btn btn-primary" href="{{add}}">Add Product</a>
        </div>
        
    </div>
    
</div>
{{footer}}